<div class="login-box">
    <div class="login-logo">
        <a><b>Bit</b>Chat</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Acesso</p>
        <form>
            <div class="form-group has-feedback">
                <input type="login" class="form-control" ng-model="user.login" placeholder="Login">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" ng-model="user.password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" ng-click="$ctrl.login(user)" class="btn btn-primary btn-block btn-flat">Entrar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a ui-sref="register" class="text-center">Registrar</a>

    </div>
    <!-- /.login-box-body -->
</div>